@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700;900&family=Source+Sans+Pro&display=swap");

@media (max-width: 1024px) {

  /*-------------------------Home page-------------------------*/

  .homeContainer {
    display: flex;
    flex-direction: row;
    background-color: rgba(30, 30, 30, 1);
  }

  .homeOptions {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .imageHome {
    width: 50%;
    height: 20%;
    margin-top: 27%;
  }

  .logoHome {
    width: 80%;
    margin: 10% 0% 20% 20%;
  }

  .waiterButton {
    width: 50%;
    height: 70px;
    margin-left: 30%;
    background: #1e1e1e;
    border: 2px solid #754e38;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 30px;
  }

  .kitchenButton {
    width: 50%;
    height: 70px;
    margin: 10% 0% 0% 30%;
    background: #1e1e1e;
    border: 2px solid #754e38;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 30px;
  }

  a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-family: Source Sans Pro;
    font-size: x-large;
  }

  /*-------------------------Order page-------------------------*/

  .navBar {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    background: #1e1e1e;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .navLogoContainer {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .goBackArrow {
    width: 10%;
    height: 8%;
    margin: 2% 0% 2% 2%;
  }

  .logoNav {
    width: 39%;
    height: 20%;
  }

  .navOptionsContainer {
    width: 40%;
    height: 100%;
    margin: 2% 6% 0% 0%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .iconNewOrder {
    width: 5%;
    height: 5%;
    margin: 3.7% 2% 0% 0%;
  }

  .newOrderText {
    margin: 3.6% 12% 0% 0%;
    color: white;
    font-family: Source Sans Pro;
  }

  .iconHistory {
    width: 5.4%;
    height: 5.4%;
    margin: 3.7% 2% 0% 0%;
  }

  .orderHistoryText {
    margin-top: 3.7%;
    color: white;
    font-family: Source Sans Pro;
  }

  
}
